.header {
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.header h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  width: 50vw;
  height: 40vh;
  border: 1px solid #000;
  background-color: rgb(98, 98, 156);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}
.body h2 {
  position: inherit;
  font-size:16px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body h3 {
    position: inherit;
    font-size:16px;
    top: 40%;
    left: 50%;
    transform: translate(-60%, -50%);
  }
.body button{
    position: inherit;
    margin:auto;
    top:75%;
    left:50%;
    transform: translate(-50%, -75%);
}
